:root{
    --dark: #16205E;
    --mid: #363E88;
    --light: #575E9B;
    --accent: #5C6DFF;
    --g: #4EEFA3;
    --b: #43C7FF;
    --r: #FF7474;
}

@font-face {
    font-family: 'cedric';
    src: url('./CEDRIC\ demo.ttf') format('truetype'); 
}

@font-face {
    font-family: 'tiltWrap';
    src: url('./TiltWarp-Regular.ttf') format('truetype'); 
}


*{
    font-family: 'tiltWrap';
}

html,
body{
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}


.content{
    flex: 1;
    display: flex;
    width: 100%;
}

header{
    background-color: var(--dark);
    padding: 2rem 2rem 1rem 2rem;
}

a{
    text-decoration: none;
    color: white;
    transition-duration: 0.3s;
    padding: 0.1rem 0.2rem;
}

a:hover{
    color: var(--dark);
    letter-spacing: 0.1rem;
    background-color: #43C7FF;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent);
    padding: 10px;
    background-color: var(--dark);
}

.projects{
    background-color: var(--light);
    flex:2;
}

.todos{
    background-color: var(--mid);
    flex:7;
}

h1{
    line-height: 3rem;
    font-family: 'cedric';
    font-weight: 100;
    margin:0;
    letter-spacing: 5px;
    font-size: 5rem;
    color: var(--accent);
}

