    :root{
        --dark: #16205E;
        --mid: #363E88;
        --light: #575E9B;
        --accent: #5C6DFF;
        --g: #4EEFA3;
        --b: #43C7FF;
        --r: #FF7474;
        --w: #c9d0fa;
    }

    ::selection{
        color: black;
        background-color: white;
    }


    @font-face {
        font-family: 'cedric';
        src: url('./CEDRIC\ demo.ttf') format('truetype'); 
    }

    @font-face {
        font-family: 'tiltWrap';
        src: url('./TiltWarp-Regular.ttf') format('truetype'); 
    }


    *{
        font-family: 'tiltWrap';
    }

    html,
    body{
        height: 100%;
        margin: 0;
    }

    body{
        display: flex;
        flex-direction: column;
    }


    .nodisplay{
        display: none !important;
    }

    .content{
        flex: 1;
        display: flex;
        width: 100%;
    }

    header{
        background-color: var(--dark);
        padding: 2rem 2rem 1rem 2rem;
    }

    a{
        text-decoration: none;
        color: var(--w);
        transition-duration: 0.3s;
        padding: 0.1rem 0.2rem;
    }

    a:hover{
        color: var(--dark);
        letter-spacing: 0.1rem;
        background-color: #43C7FF;
    }

    footer{
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--accent);
        padding: 10px;
        background-color: var(--dark);
    }

    .projects{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--light);
        flex:2.5;
        gap:15px;
    }

    .project-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap : 15px;
    }

    .todo-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap : 15px;
    }



    svg{
        height: 1.7rem;
        width: auto;
    }

    .project-div{
        display: flex;
        align-items: center;
        height: 40px;
        background-color: var(--dark);
        color: var(--w);
        padding: 10px;
        width: 80%;
        border-radius: 10px;
    }


    .project-div span{
        font-size: 1.1rem;
        margin-right: auto;
    }

    .todo-div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        background-color: var(--r);
        color: var(--w);
        padding: 10px;
        width: 90%;
        border-radius: 10px;
    }

    .todo-div *{
        color: rgba(0, 0, 0, 0.5);
    }

    .todo-div .todo-title{
        font-size: 1.3rem;
        color: rgba(23, 0, 78, 0.9);
    }

    .todo-div button{
        filter:opacity(0.5);
    }




    .todo-div .left-side{
        display: flex;
        align-items: center;
    }

    .todo-div .right-side{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .todo-div .todo-dueDate{
        text-align: center;
        margin-right: 20px;
        width: 110px;
    }

    button{
        background: transparent;
        color: black;
        filter: invert(82%) sepia(3%) saturate(2795%) hue-rotate(196deg) brightness(102%) contrast(96%);
        border: none;
        transition-duration: 0.3s;
    }


    .edit:hover{
        filter: invert(64%) sepia(98%) saturate(1347%) hue-rotate(170deg) brightness(102%) contrast(104%) drop-shadow(0 0 0.3rem black);
    }

    .delete:hover{
        filter: invert(63%) sepia(72%) saturate(2597%) hue-rotate(316deg) brightness(105%) contrast(104%)  drop-shadow(0 0 0.3rem black);
    }

    .add-button:hover{
        filter: drop-shadow(0 0 0.75rem red);
        filter: invert(64%) sepia(98%) saturate(1347%) hue-rotate(170deg) brightness(102%) contrast(104%) drop-shadow(0 0 0.3rem black);
    }

    .todos{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--mid);
        flex:7;
        gap:15px;
    }

    button{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1{
        line-height: 3rem;
        font-family: 'cedric';
        font-weight: 100;
        margin:0;
        letter-spacing: 5px;
        font-size: 5rem;
        color: var(--w);
    }

    h2{
        color: var(--w);
        margin: 15px 0 0 0 ;
    }

    h3{
        margin: 0;
        color: var(--dark);
    }

    .button-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .popup{
        position: fixed;
        display: none;
        flex-direction: column;
        background-color: var(--accent);
        color: var(--w);
        border-radius: 10px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 20px 50px;
        gap:20px;
        align-items: center;
        z-index: 10;
    }

    .popup button{
        border-radius: 5px;
        width: 100px;
        filter: none;
        color: var(--w);
    }

    input:not([type=checkbox]){
        outline-color: transparent;
        background-color: var(--w);
        border: none;
        border-radius: 10px;
        width: 100%;
        padding: 5px 10px;
    }


    input[type=checkbox]{
        width: 20px;
        height: 20px;
    }
    

    select{
        outline-color: transparent;
        background-color: var(--w);
        border: none;
        border-radius: 10px;
        width: calc(100% + 20px);
        padding: 5px 10px;
    }

    .title-label::after{
        content: "*";
    }

    .popup button:hover{
        filter:brightness(0.8);
    }

    .popup button.confirm{
        background-color: var(--g);
        color: var(--dark);
        padding: 5px;
    }

    .popup button.cancel{
        background-color: var(--r);
        color: var(--dark);
        padding: 5px;
    }

    .input-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 250px;
    }

    .backdrop{
        pointer-events: none;
        position: fixed;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.0);
        transition-duration: 0.3s;
        z-index: 5;
    }

    .backdrop.visible{
        pointer-events:visible;
        background: rgba(0, 0, 0, 0.4);
        animation: fade-in 500ms forwards;
    }

    .popup.visible{
        display: flex;
        animation: fade-in 500ms forwards;
        animation: slide up 500ms forwards;
    }

    .error{
        color: var(--r);
        background-color: var(--dark);
        padding: 0px 10px;
    }

    @keyframes fade-in {
        0%{
            opacity: 0;
        }

        100%{
            opacity: 1;
        }
    }


    @keyframes fade-out {
        0%{
            opacity: 1;
        }

        100%{
            opacity: 0;
        }
    }

    @keyframes slide-up {
        0%{
            transform: translateY(100%);
        }    

        100%{
            transform: translateY(0%);
        }


    }