:root{
    --dark: #16205E;
    --mid: #363E88;
    --light: #575E9B;
    --accent: #5C6DFF;
    --g: #4EEFA3;
    --b: #43C7FF;
    --r: #FF7474;
    --w: #c9d0fa;
}

@font-face {
    font-family: 'cedric';
    src: url('./CEDRIC\ demo.ttf') format('truetype'); 
}

@font-face {
    font-family: 'tiltWrap';
    src: url('./TiltWarp-Regular.ttf') format('truetype'); 
}


*{
    font-family: 'tiltWrap';
}

html,
body{
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}


.content{
    flex: 1;
    display: flex;
    width: 100%;
}

header{
    background-color: var(--dark);
    padding: 2rem 2rem 1rem 2rem;
}

a{
    text-decoration: none;
    color: var(--w);
    transition-duration: 0.3s;
    padding: 0.1rem 0.2rem;
}

a:hover{
    color: var(--dark);
    letter-spacing: 0.1rem;
    background-color: #43C7FF;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--accent);
    padding: 10px;
    background-color: var(--dark);
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light);
    flex:2;
}

.project-div{
    display: flex;
    gap: 10px;
    background-color: var(--dark);
    color: var(--b);
    padding: 10px;
    width: 80%;
    border-radius: 10px;
}

.project-div span{
    margin-right: auto;
}

button{
    background: transparent;
    color: black;
    filter: invert(82%) sepia(3%) saturate(2795%) hue-rotate(196deg) brightness(102%) contrast(96%);
    border: none;
}

.edit:hover{
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(25deg) brightness(105%) contrast(98%);
}

.delete:hover{
    filter: invert(63%) sepia(72%) saturate(2597%) hue-rotate(316deg) brightness(105%) contrast(104%);
}


.todos{
    background-color: var(--mid);
    flex:7;
}

h1{
    line-height: 3rem;
    font-family: 'cedric';
    font-weight: 100;
    margin:0;
    letter-spacing: 5px;
    font-size: 5rem;
    color: var(--w);
}

h2{
    color: var(--w);
}

